<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <title>Website Inovasi | Fakultas Informatika</title>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='assets/css/templatemo-art-factory.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/owl-carousel.css') }}">

</head>

<body>

  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="#" class="logo">
              <img style="max-width: 50%" class="mt-2 mb-5"
                src="{{ url_for('static', filename='assets/images/logo-fif.png') }}" alt="">
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#chatbot">Chatbot</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="welcome-area" id="welcome">
    <div class="header-text">
      <div class="container">
        <div class="row">
          <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
            data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <h1>Website Inovasi</h1>
            <h2 class="text-white">Fakultas Informatika</h2>
            <hr>
            <p>Selamat datang di Website Inovasi Fakultas Informatika. Silahkan scroll untuk melanjutkan!</p>
            <a href="#about" class="main-button-slider">About</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <img src="{{ url_for('static', filename='assets/images/spaceship-1.png') }}"
              class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section m-5" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="{{ url_for('static', filename='assets/images/left-image.png') }}"
            class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
          <div class="left-heading">
            <h5>Apa itu website Inovasi?</h5>
          </div>
          <div class="left-text">
            <p>Website Inovasi di Fakultas Informatika berfungsi sebagai platform untuk mengumpulkan dan menampilkan
              berbagai proyek inovatif dari para mahasiswa, dosen maupun staf akademik. Tujuan utama dari website ini
              adalah untuk mempromosikan, dan menginspirasi semangat inovasi di kalangan anggota akademik,
              serta ikut terlibat dalam perjalanan penemuan ilmiah yang menarik. <br><br>Melalui cerita
              dan laporan proyek inovatif, website ini berfungsi sebagai sarana yang mendukung
              pertumbuhan kreativitas civitas Fakultas Informatika</p>
            <!-- <a href="#about2" class="main-button">Discover More</a> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="hr"></div>
        </div>
      </div>
    </div>
  </section>

  <div id="chatbot"></div>
  <section class="section m-5" id="chatbot">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Telegram ChatBot</h2>
          </div>
        </div>
        <div class="offset-lg-3 col-lg-6">
          <div class="section-heading mb-5">
            <p>Daftar Chatbot Telegram di Fakultas Informatika</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="left-text col-lg-6 col-md-6 col-sm-12">
          <h5>Class aptent taciti sociosqu ad litora torquent per conubia</h5>
          <div class="accordion-text">
            <p>Curabitur placerat diam in risus lobortis, laoreet porttitor est elementum. Nulla ultricies
              risus quis risus scelerisque, a aliquam tellus maximus. Cras pretium nulla ac convallis
              iaculis. Aenean bibendum erat vitae odio sodales, in facilisis tellus volutpat.</p>
            <p>Sed lobortis pellentesque magna ac congue. Suspendisse quis molestie magna, id eleifend ex.
              Ut mollis ultricies diam nec dictum. Morbi commodo hendrerit mi vel vulputate. Proin non
              tincidunt dui. Lorem ipsum dolor sit amet.</p>
            <span>Email: <a href="#">email@company.com</a><br></span>
            <a href="#contact-us" class="main-button">Contact Us</a>
          </div>
        </div> -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <article class="accordions" id="accord1">
            <div class="accordion-head">
              <h1 class="mb-0">
                <span class="btn btn-block text-left btn-lg m-0 p-0" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span>FIF TelU Bot</span>
                </span>
              </h1>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accord1">
                <div class="card-body">
                  <div class="content">
                    <p>Deskripsi</p>
                    <p>Telegram bot Info FIF memiliki dua fungsi utama, yaitu menampilkan informasi dosen dan informasi
                      terkait MBKM. Pengguna dapat berinteraksi dengan bot ini dengan mengirimkan perintah khusus
                      melalui
                      pesan teks, dan bot akan memberikan respons dengan informasi yang relevan tentang dosen yang
                      mereka
                      cari atau informasi MBKM. Dengan Telegram bot ini, kami dapat memberikan kemudahan akses informasi
                      kepada seluruh anggota Fakultas dan mahasiswa, menjadikan komunikasi dan akses informasi lebih
                      efisien dan cepat.</p><br>
                    <p>Github: <a href="#">{link github}</a></p><br>
                    <p>Pengembang: Ken Diva 🔥 </p><br>
                    <p>Demo</p>
                    <p>Url: <a href="https://t.me/fif_telu_bot">t.me/fif_telu_bot</a> or scan me </p>
                    <p>
                      <img src="{{ url_for('static', filename='assets/images/qr-infofif.png') }}" alt="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

        </div>

      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <p class="h1">Contact Us</p>
          <p class="copyright">
            Telkom University Landmark Tower (TULT) <br>
            Jl. Telekomunikasi No. 1
            Terusan Buahbatu, Bojongsoang <br>
            Bandung 40257, Indonesia <br>
            Tel: (022) 7565931 <br>
            Email: sekpimsoc@telkomuniversity.ac.id
          </p>
          <br>
          <p class="copyright">Copyright &copy; 2023
            <a href="https://soc.telkomuniversity.ac.id" target="_blank">Fakultas Informatika | Telkom University</a>
          </p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <ul class="social">
            <!-- <li><a href="https://www.facebook.com/telkomuniversity"><i class="fa fa-facebook"></i></a></li> -->
            <li><a href="https://www.youtube.com/user/soctelkomuniv"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/fakultas-informatika-telkom-university/?viewAsMember=true"><i
                  class="fa fa-linkedin"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
            <li><a href="https://www.instagram.com/informatika.telkomuniversity/"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>

  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

  <!-- Plugins -->
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script>

  <!-- Global Init -->
  <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

</body>

</html>